<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>chaman.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>chaman.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddCustomer</servlet-name>
		<servlet-class>chaman.AddCustomer</servlet-class>
		<multipart-config>
			<max-file-size>20848820</max-file-size>
    		<max-request-size>418018841</max-request-size>
    		<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet>
		<servlet-name>ViewCustomer</servlet-name>
		<servlet-class>chaman.ViewCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCustomer</servlet-name>
		<servlet-class>chaman.EditCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCustomer</servlet-name>
		<servlet-class>chaman.UpdateCustomer</servlet-class>
		<multipart-config>
			<max-file-size>20848820</max-file-size>
    		<max-request-size>418018841</max-request-size>
    		<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>
	<servlet>
		<servlet-name>DeleteCustomer</servlet-name>
		<servlet-class>chaman.DeleteCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchCustomer</servlet-name>
		<servlet-class>chaman.SearchCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchCustomer2</servlet-name>
		<servlet-class>chaman.SearchCustomer2</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchCustomer3</servlet-name>
		<servlet-class>chaman.SearchCustomer3</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CountryHandler</servlet-name>
		<servlet-class>chaman.CountryHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StateHandler</servlet-name>
		<servlet-class>chaman.StateHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CityHandler</servlet-name>
		<servlet-class>chaman.CityHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>com.jspmvc.ControlServlet</servlet-class>  
	</servlet>
	<session-config>
        <session-timeout>30</session-timeout>
    </session-config>
	  
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddCustomer</servlet-name>
		<url-pattern>/AddCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ViewCustomer</servlet-name>
		<url-pattern>/ViewCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCustomer</servlet-name>
		<url-pattern>/EditCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCustomer</servlet-name>
		<url-pattern>/UpdateCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCustomer</servlet-name>
		<url-pattern>/DeleteCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchCustomer</servlet-name>
		<url-pattern>/SearchCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchCustomer2</servlet-name>
		<url-pattern>/SearchCustomer2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchCustomer3</servlet-name>
		<url-pattern>/SearchCustomer3</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CountryHandler</servlet-name>
		<url-pattern>/CountryHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StateHandler</servlet-name>
		<url-pattern>/StateHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CityHandler</servlet-name>
		<url-pattern>/CityHandler</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>  
  <servlet-name>s1</servlet-name>  
  <url-pattern>/ControlServlet</url-pattern>  
  </servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>